.App {
  background-color: #e3e3e3;
  border-radius: 6px;
  height: 150vh;
}

.App-body{ 
    background-color: #fff;
    border-radius: 6px;
    margin: 15px;
    display: flex;
    justify-content: center;
    width: 94%;
    position: absolute;
    left: 29px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 .App-body{ 
      left: 0px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
 .App-body{ 
      left: 0px;
  }}
@media only screen and (max-width: 768px){
  .App-body{ 
      left: 0px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}